// these are the core typeface families

$sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$serif: 'Source Serif Pro', Georgia, serif;
$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'Barlow Condensed', 'Helvetica Neue', sans-serif;
$font-title-02: 'Barlow Semi Condensed', 'Helvetica Neue', sans-serif;
